.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.logo:hover {
  transform: scale(0.95);
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  height: 480px;
  background-color: #f6f7f8;
  margin: 10px;
  border-radius: 15px;
}

.cuisine-container {
  display: flex;
  overflow-x: auto;
}

.cuisine-card {
  margin: 10px;
}

.cuisine-shimmer-card {
  width: 120px;
  height: 120px;
  margin: 44px 10px 40px 10px;
  border-radius: 50%;
  background-color: #f6f7f8;
}

.cuisine-logo {
  height: 180px;
}

.cuisine-card:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.res-section {
  padding-top: 50px;
  margin: 10px;
  display: block;
}

.top-res-section {
  padding-top: 50px;
  margin: 10px;
  display: block;
}

.top-res-container {
  display: flex;
  overflow-x: auto; /* Add overflow-y for vertical scrolling */
  width: 100%;
}

.top-res-card {
  min-width: 250px;
  background-color: #f6f7f8;
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
  flex-grow: 1;
}

.top-res-shimmer-card {
  min-width: 250px;
  height: 480px;
  background-color: #f6f7f8;
  padding: 5px;
  border-radius: 15px;
  margin: 10px;
  flex-grow: 1;
}

.top-res-logo {
  width: 100%;
  height: 50%;
  border-radius: 10px;
}

.top-res-card:hover {
  cursor: pointer;
  transform: scale(0.98);
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.res-card {
  width: 250px;
  box-sizing: content-box;
  background-color: #f6f7f8;
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
}

.res-shimmer-card {
  width: 250px;
  height: 450px;
  box-sizing: content-box;
  background-color: #f6f7f8;
  padding: 5px;
  border-radius: 15px;
  margin: 10px;
}

.res-logo {
  width: 100%;
  height: 40%;
  border-radius: 10px;
}

.res-card:hover {
  cursor: pointer;
  transform: scale(0.98);
}

.res-filter-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.filter-item {
  align-content: center;
  width: 100px;
  margin: 10px;
  border: 1px solid rgb(226, 226, 231);
  border-radius: 18px;
  padding: 10px;
}

hr {
  color: #f6f7f8;
}

.body {
  margin-left: 120px;
  margin-right: 120px;
}
